<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dire.guard.mapper.UserServiceMapper">

    <resultMap id="user_reference_key_map" type="com.dire.guard.service.UserFromJdbcImpl$UserDto">
        <id column="uniqueId" property="uniqueId" javaType="string" jdbcType="CHAR"/>
        <result column="enabled" property="enabled" javaType="com.dire.tools.enums.Judge" jdbcType="INTEGER"
                typeHandler="com.dire.datasource.handler.CommonEnumTypeHandler"/>
        <result column="currentReferenceKey" property="currentReferenceKey" javaType="string" jdbcType="VARCHAR"/>
        <result column="currentMethodLocked" property="currentMethodLocked" javaType="com.dire.tools.enums.Judge"
                jdbcType="INTEGER" typeHandler="com.dire.datasource.handler.CommonEnumTypeHandler"/>
        <result column="currentMethod" property="currentMethod" javaType="string" jdbcType="VARCHAR"/>
        <result column="methodExpired" property="methodExpired" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
        <result column="credentialsExpired" property="credentialsExpired" javaType="java.time.LocalDateTime"
                jdbcType="TIMESTAMP"/>
        <result column="secretKey" property="secretKey" javaType="string" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectUserByReferenceKey" resultMap="user_reference_key_map">
        SELECT
            `u`.`u_id` `uniqueId`,
            `u`.`alive` `enabled`,
            `ur`.`reference_key` `currentReferenceKey`,
            IF(`ur`.`login_access` = 1, 0, 1) `currentMethodLocked`,
            `ur`.`identifier` `currentMethod`,
            `ur`.`expired_time` `methodExpired`,
            `s`.`secret_expired_time` `credentialsExpired`,
            `s`.`secret_key` `secretKey`
        FROM
            `solar_user_reference` `ur`
                LEFT JOIN `solar_secret` `s` ON `ur`.`s_id` = `s`.`s_id`
                LEFT JOIN `solar_user` `u` ON `ur`.`u_id` = `u`.`u_id`
        WHERE
            `ur`.`reference_key` = #{ referenceKey }
    </select>
</mapper>